{{ template "head" "Giriş • Paytak Sözlük" }}
<body>
    {{ template "header" .Username }}
    <main>
        <h2>Üye girişi</h2>
        <form class="main-form" action="/post/giris" method="post">
            <p class="main-form">
                <label class="main-form" for="email">E-mail:</label>
                <input class="main-form" type="text" id="email" name="email" maxlength="253"><br>
            </p>
            <p class="main-form">
                <label class="main-form" for="passwd">Şifre:</label>
                <input class="main-form" type="password" id="passwd" name="passwd"><br>
            </p>
            <p class="main-form">
                <input class="main-form" type="submit" value="Giriş yap">
            </p>
        </form>
    </main>
{{ template "footer" }}
