@import url("https://fonts.googleapis.com/css2?family=Moirai+One&display=swap");

:root {
  --cl-bg1: #f3f0f5;
  --cl-bg2: #e2dbe8;
  --cl-fg1: #2f1e3f;
}
body {
  margin: 0;
  background-color: var(--cl-bg2);
  color: var(--cl-fg1);
}

main {
  margin: 2rem;
}
