.header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: indigo;
}

.description {
    font-size: 0.5rem;
}

.button {
    border: 1px solid indigo;
    border-radius: 10px;
    background-color: indigo;
    text-decoration: none;
    font-size: 1rem;
    color: floralwhite;
    font-family: serif;
    margin: 0 0.2rem;
    padding: 0.5rem 0.5rem;
    transition: all 0.1s;
}

.button:hover {
    cursor: pointer;
    background-color: floralwhite;
    color: black;
}