.header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.logo {
  font-size: 1.25rem;
  text-decoration: none;
  color: #fff;
}

.description {
  font-size: 0.5rem;
}

.button {
  border: 1px solid #8800ff;
  border-radius: 10px;
  background-color: #8800ff;
  text-decoration: none;
  font-size: 1rem;
  color: #f8f0ff;
  font-family: serif;
  margin: 0 0.25rem;
  padding: 0.25rem 0.5rem;
  transition: all 0.1s;
}

.button:hover {
  cursor: pointer;
  background-color: inherit;
  color: #8800ff;
}
