.App-header {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  /* border: 1px groove gray; */
  padding: 1rem;
}

.search {
  border-radius: 10px;
  border: 1px solid gray;
}
