main .entryHeader {
  /* border: 1px solid salmon; */
  background-color: salmon;
  padding: 1rem;
}

main .entry {
  background-color: bisque;
  border-radius: 10px;
}

main .entryContent {
  /* border: 1px solid sienna; */
  margin: 0;
  padding: 1rem;
  margin-bottom: 2rem;
}

main .entryFooter {
  text-align: end;
}
