.sideBar {
  display: flex;
  flex-direction: column;
  /* border: 1px outset gray; */
  width: fit-content;
}

.sideBar > div {
  background-color: bisque;
  padding-bottom: 1rem;
  border-left: 1rem solid salmon;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
}
